body {
  font-family: "Amatic SC";
  background-color: #455a64;
  color: #eceff1;
  margin: 0 auto;
  width: 75%;

}

h1 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 100px;
  text-align: center;
}

h4 {
  letter-spacing: 2px;
  color: #ffb74d;
  font-weight: bold;
  text-align: center;
  font-family: "Shadows Into Light";
}

h5 {
  letter-spacing: 2px;
  padding: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
}

.gameboard {
  border: 10px dotted #ff5722;
  min-height: 500px;
  min-width: 700px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-style: ridge;
}

.replay {
  font-size: 2em;
  display: inline-block;
  text-align: left;
  float: right;
}

.play {
  font-size: 2em;
  display: inline-block;
  float: left;
}

.loading {
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
}

.nav-wrapper {
  margin-bottom: 80px;
  /* need to change color scheme to match*/
}

#zombie {
  margin: 0 auto;
  max-height: 300px;
  /* user should click on this, maybe a celebration/explosion? animation when clicked */
}

#puppy {
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  /* user shouldn't click on this. maybe a css jitter animation when clicked?*/
}

#exclamation {
  color: #ff5722;
  font-weight: 900;
  font-family: "Shadows Into Light";
}

#not {
  text-decoration: underline;
}

/*a 3d pull up animation would be cool? */
/*https://blog.trackduck.com/2015/06/10/15-impressive-pop-animation-effects-codepen/ - their popup and 3d movement*/

#zombie:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
